* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  font-family: "Lato", sans-serif;
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  font-family: "Lato", sans-serif;
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #c0c0c0;
  opacity: 1; }

*::placeholder, button {
  font-family: "Lato", sans-serif; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  font-weight: 700;
  padding: 6px 34px;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 20px; }
  .btn_simple:hover {
    background-color: #722ED1;
    color: #fff; }

.btn {
  background-color: #722ED1;
  color: #fff;
  padding: 14px 40px;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  .btn:hover {
    background-color: #fff;
    color: #111; }
  .btn.btn_white {
    background-color: #fff;
    color: #111;
    margin-left: 20px; }
    .btn.btn_white:hover {
      color: #fff;
      background-color: #722ED1; }

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#header {
  padding-top: 24px; }
  #header .inner_header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #header .inner_header .logo {
      display: block;
      width: 48px;
      height: 48px; }
      #header .inner_header .logo > img {
        width: 100%; }
    #header .inner_header .right_side_header {
      display: flex;
      align-items: center; }
      #header .inner_header .right_side_header .nmu_top {
        list-style: none; }
        #header .inner_header .right_side_header .nmu_top > li {
          display: inline-block;
          position: relative; }
          #header .inner_header .right_side_header .nmu_top > li a {
            display: block;
            text-decoration: none;
            font-weight: 500;
            color: #000;
            transition: color 0.4s ease;
            padding: 4px 40px 5px 0; }
            #header .inner_header .right_side_header .nmu_top > li a:hover {
              color: #722ED1; }
          #header .inner_header .right_side_header .nmu_top > li > .sub_menu {
            position: absolute;
            top: 35px;
            background-color: #fff;
            box-shadow: 0 3px 6px;
            z-index: 10;
            border-radius: 5px;
            padding: 5px;
            animation: opac 0.6s;
            display: none; }
            #header .inner_header .right_side_header .nmu_top > li > .sub_menu > li {
              display: block; }
              #header .inner_header .right_side_header .nmu_top > li > .sub_menu > li > a {
                padding: 3px 10px;
                font-size: 14px; }
          #header .inner_header .right_side_header .nmu_top > li.has_sub_menu:hover > .sub_menu {
            display: block; }
          #header .inner_header .right_side_header .nmu_top > li.has_sub_menu::after {
            content: "";
            display: block;
            width: 8px;
            height: 4px;
            background-image: url("/img/arrow_down.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 17px;
            right: 23px; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
h1, h2, h3, h4 {
  line-height: 1.3; }

.notif {
  background-color: #F9F0FF;
  border-radius: 30px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  max-width: max-content; }
  .notif img {
    width: 16px;
    height: auto;
    margin-right: 7px; }
  .notif p {
    color: #722ED1; }
  .notif a {
    transition: all 0.4s ease;
    text-decoration: none;
    border-bottom: 1px solid #722ED1;
    color: #722ED1; }
    .notif a:hover {
      color: #5b25a7;
      border-color: #5b25a7; }

.mein_banner {
  padding: 150px 0 400px; }
  .mein_banner .mb_info > h1 {
    color: #000000;
    font-size: 50px;
    font-weight: 900;
    margin-top: 10px;
    max-width: 430px; }
  .mein_banner .mb_info > .descr {
    color: #777b7f;
    margin: 14px 0 44px;
    font-size: 18px; }
  .mein_banner .mb_info > .btns {
    display: flex;
    align-items: center; }
  .mein_banner .mb_info > .btn_white {
    margin-left: 16px; }

section {
  padding: 100px 0; }
  section#top_banner {
    padding: 0; }

#advantages .notif {
  margin: 0 auto; }
  #advantages .notif img {
    width: 26px;
    height: auto;
    margin-right: 7px; }
#advantages .heading_main {
  max-width: 500px;
  margin: 32px auto 48px; }
  #advantages .heading_main h2 {
    color: #160637;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px; }
  #advantages .heading_main .description {
    color: #8989A2;
    text-align: center;
    font-size: 18px; }
#advantages .row_adv .item_adv > img {
  width: 40px;
  grid-template: 40px;
  border-radius: 50%; }
#advantages .row_adv .item_adv > .heading {
  font-size: 24px;
  font-weight: 700;
  color: #160637;
  margin: 24px 0 16px; }
#advantages .row_adv .item_adv > .descr {
  color: #8989A2;
  font-size: 16px; }

section.information .img-responsive {
  margin: 0 auto; }
section.information .right_info {
  padding-left: 50px; }
  section.information .right_info > h3 {
    color: #160637;
    font-size: 38px;
    font-weight: 900;
    margin: 32px 0 16px; }
  section.information .right_info > .descr {
    color: #8989A2;
    font-size: 16px; }

#reviews {
  padding: 300px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/reviews/bg-rev.svg"); }
  #reviews .item_rev {
    text-align: center;
    display: none;
    animation: opac 0.6s; }
    #reviews .item_rev.active {
      display: block; }
    #reviews .item_rev .quotes {
      max-width: 660px;
      height: 100px;
      margin: 0 auto 16px;
      color: #160637;
      font-size: 22px;
      margin-bottom: 16px; }
    #reviews .item_rev > img {
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    #reviews .item_rev > .name {
      margin-top: 16px; }
    #reviews .item_rev > .name, #reviews .item_rev > .positiion {
      color: #111;
      font-weight: 900; }
  #reviews .line {
    height: 1px;
    width: 100%;
    background-color: #dec9fa;
    margin: 56px 0; }
  #reviews .nav_rev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    #reviews .nav_rev > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16%;
      cursor: pointer;
      filter: grayscale(1);
      transition: all 0.4s ease; }
      #reviews .nav_rev > div.active {
        filter: grayscale(0);
        transform: scale(1.1); }

#pre_footer .pf_info > h4 {
  color: #160637;
  font-size: 38px;
  font-weight: 900;
  text-align: center; }
#pre_footer .pf_info > .line_img {
  display: block;
  margin: 42px auto; }
#pre_footer .pf_info > .pf_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #pre_footer .pf_info > .pf_images > img {
    margin: 25px 0 25px 50px;
    width: 34%;
    cursor: pointer;
    filter: grayscale(100%); }
    #pre_footer .pf_info > .pf_images > img .accenture,
    #pre_footer .pf_info > .pf_images > img .react,
    #pre_footer .pf_info > .pf_images > img .airBnb,
    #pre_footer .pf_info > .pf_images > img .sky {
      transition: all 0.4s ease; }
    #pre_footer .pf_info > .pf_images > img:hover {
      filter: grayscale(0);
      transform: scale(1.1); }
#pre_footer .btn_form {
  display: block;
  width: 100%;
  padding: 14px;
  color: #fff;
  background-color: #722ED1;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: border-radius 0.4s ease-in-out; }
  #pre_footer .btn_form:hover {
    border-radius: 30px; }
#pre_footer .form_wrapper {
  background-color: #F9F0FF;
  border-radius: 4px;
  max-width: 480px;
  margin: 0 auto; }
  #pre_footer .form_wrapper > form {
    border: 1px solid #F9F0FF;
    transform: translateY(-40px);
    box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
    width: 86%;
    margin: 0 auto;
    background-color: #fff;
    padding: 36px 36px 24px; }
    #pre_footer .form_wrapper > form > h4 {
      color: #160637;
      font-size: 24px;
      text-align: center;
      margin-bottom: 32px;
      font-weight: 900; }
    #pre_footer .form_wrapper > form > input {
      width: 100%;
      display: block;
      outline: none;
      font-size: 16px;
      margin-top: 16px;
      padding: 14px 24px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid rgba(137, 137, 162, 0.5);
      transition: border-color 0.4s ease-in-out; }
      #pre_footer .form_wrapper > form > input::placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:focus {
        border-color: #aa82e3; }
    #pre_footer .form_wrapper > form > .or {
      margin: 20px auto 15px;
      text-align: center;
      color: #000;
      text-transform: uppercase; }
    #pre_footer .form_wrapper > form > a {
      display: block;
      max-width: 200px;
      margin: 0 auto;
      text-decoration: none; }
    #pre_footer .form_wrapper > form > .footer_form > .line {
      height: 1px;
      width: 100%;
      background-color: rgba(137, 137, 162, 0.5);
      margin: 22px 0; }
    #pre_footer .form_wrapper > form > .footer_form > p {
      font-size: 14px;
      color: #8989A2;
      text-align: center; }
      #pre_footer .form_wrapper > form > .footer_form > p > a {
        color: #722ED1; }

/*# sourceMappingURL=main.css.map */
